@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;  
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}

main .qr-box{
    background: hsl(0, 0%, 100%);
    width: 18em;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.qr-box .q-box-img img{
    width: 100%;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.qr-box .q-box-info{
    text-align: center;
    margin-top: 10px;
    padding: 0 10px;
}
.qr-box .q-box-info h3{
    font-size: 20px;
}
.qr-box .q-box-info p{
    margin-top: 10px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}